<ng-container>
  <a [attr.href]="item.url" (click)="itemClick($event)" [ngClass]="item.class"
     *ngIf="(!item.routerLink || item.items) && item.visible !== false"
     [attr.target]="item.target" [attr.tabindex]="0" [attr.aria-label]="item.label" role="menuitem" pRipple>
    <i [ngClass]="item.icon" class="layout-menuitem-icon"></i>
    <span>{{item.label}}</span>
    <span class="menuitem-badge" *ngIf="item.badge">{{item.badge}}</span>
    <i class="pi pi-fw {{active ? 'pi-angle-up' : 'pi-angle-down'}} ml-auto" *ngIf="item.items"></i>
  </a>
  <a (click)="itemClick($event)" *ngIf="(item.routerLink && !item.items) && item.visible !== false" [ngClass]="item.class"
     [routerLink]="item.routerLink" routerLinkActive="active-menuitem-routerlink router-link-exact-active"
     [routerLinkActiveOptions]="{exact: !item.preventExact}" [attr.target]="item.target" [attr.tabindex]="0" [attr.aria-label]="item.label" role="menuitem" pRipple>
    <i [ngClass]="item.icon" class="layout-menuitem-icon"></i>
    <span>{{item.label}}</span>
    <span class="p-tag p-badge ml-auto" *ngIf="item.badge">{{item.badge}}</span>
    <i class="pi pi-fw {{active ? 'pi-angle-up' : 'pi-angle-down'}} ml-auto" *ngIf="item.items"></i>
  </a>
  <ul *ngIf="(item.items && active) && item.visible !== false" [@children]="(active ? 'visibleAnimated' : 'hiddenAnimated')" role="menu">
    <ng-template ngFor let-child let-i="index" [ngForOf]="$any(item.items)">
      <!--      <li app-menuitem [item]="child" [index]="i" [parentKey]="key" [class]="child.badgeClass" role="none"></li>-->
      <app-menu-item [item]="child" [index]="i" [parentKey]="key" [class]="child.badgeClass" role="none"></app-menu-item>
    </ng-template>
  </ul>
</ng-container>

<!--<ng-container *ngFor="let child of item">-->
<!--  <p>{{child.label}}</p>-->
<!--</ng-container>-->

<!--<ng-container *ngFor="let ch of item">-->

<!--  <a [attr.href]="ch.url" (click)="itemClick($event)" [ngClass]="ch.class"-->
<!--     *ngIf="(!ch.routerLink || ch.items) && ch.visible !== false"-->
<!--     [attr.target]="ch.target" [attr.tabindex]="0" [attr.aria-label]="ch.label" role="menuitem" pRipple>-->
<!--    <i [ngClass]="ch.icon" class="layout-menuitem-icon"></i>-->
<!--    <span>{{ch.label}}</span>-->
<!--    <span class="menuitem-badge" *ngIf="ch.badge">{{ch.badge}}</span>-->
<!--    <i class="pi pi-fw {{active ? 'pi-angle-up' : 'pi-angle-down'}} ml-auto" *ngIf="ch.items"></i>-->
<!--  </a>-->

<!--  <a (click)="itemClick($event)" *ngIf="(ch.routerLink && !ch.items) && ch.visible !== false" [ngClass]="item.class"-->
<!--     [routerLink]="ch.routerLink" routerLinkActive="active-menuitem-routerlink router-link-exact-active"-->
<!--     [routerLinkActiveOptions]="{exact: !ch.preventExact}" [attr.target]="ch.target" [attr.tabindex]="0" [attr.aria-label]="ch.label" role="menuitem" pRipple>-->
<!--    <i [ngClass]="ch.icon" class="layout-menuitem-icon"></i>-->
<!--    <span>{{ch.label}}</span>-->
<!--    <span class="p-tag p-badge ml-auto" *ngIf="ch.badge">{{ch.badge}}</span>-->
<!--    <i class="pi pi-fw {{active ? 'pi-angle-up' : 'pi-angle-down'}} ml-auto" *ngIf="ch.items"></i>-->
<!--  </a>-->

<!--  <ul *ngIf="(ch.items && active) && ch.visible !== false" [@children]="(active ? 'visibleAnimated' : 'hiddenAnimated')" role="menu">-->
<!--    &lt;!&ndash;    <ng-template ngFor let-child let-i="index" [ngForOf]="[item.items]">&ndash;&gt;-->
<!--    <app-menu-item *ngFor="let child of [ch.items]; let i = index"-->
<!--                   [item]="child" [index]="i" [parentKey]="key" role="none">-->
<!--    </app-menu-item>-->
<!--    &lt;!&ndash;      <li app-menu-item [item]="child" [index]="i" [parentkey]="key" [class]="child.badgeclass" role="none"></li>&ndash;&gt;-->
<!--    &lt;!&ndash;    </ng-template>&ndash;&gt;-->
<!--  </ul>-->
<!--</ng-container>-->
