<div class="grid">
    <div class="col-12">
        <div class="card">
            <h5>实习学校</h5>

            <p-dataView #dv1 [paginator]="true" [rows]="9" [sortField]="sortField" [sortOrder]="sortOrder" [value]="schools"
                        filterBy="schoolName" layout="grid">
                <ng-template pTemplate="header">
                    <div class="grid grid-nogutter flex-column md:flex-row justify-content-between">
                        <p-dropdown (onChange)="onSortChange($event)" [options]="sortOptions" placeholder="排序名称"></p-dropdown>
                        <span class="p-input-icon-left mb-2 md:mb-0">
                            <i class="pi pi-search"></i>
                            <input type="search" pInputText placeholder="输入名字以搜索"
                                   (input)="dv1.filter($any($event).target.value)">
                        </span>
                        <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
                    </div>
                </ng-template>

                <ng-template let-school pTemplate="listItem">
                    <div class="col-12">
                        <div class="flex flex-column md:flex-row align-items-center p-3 w-full">
                            <img [alt]="school.schoolName" [src]="school.imageUrl"
                                 class="my-4 md:my-0 w-9 md:w-10rem shadow-2 mr-5"/>
                            <div class="flex-1 text-center md:text-left">
                                <div class="font-bold text-2xl">{{school.schoolName}}</div>
                                <div class="mb-3 m-3">{{school.schoolIntroduction}}</div>
                                <!--TODO 这里以后可以拓展为正式的 rating-->
                                <p-rating [cancel]="false" [ngModel]="school.schoolRating" [readonly]="false"></p-rating>
                                <div class="flex align-items-center mt-2">
                                    <i class="pi pi-tag mr-2"></i>
                                    <span class="font-semibold">{{school.schoolType}}</span>
                                </div>
                            </div>
                            <div
                                    class="flex flex-row md:flex-column justify-content-between w-full md:w-auto align-items-center md:align-items-end mt-5 md:mt-0">
                                <span class="text-2xl font-semibold mb-2 align-self-center md:align-self-end">{{school.participantNumber}}/{{school.schoolMax}}</span>
                                <p-button [disabled]="school.schoolType === '0'" class="mb-2"
                                          icon="pi pi-plus" label="添加到我的实习"></p-button>
                                <!--                <span-->
                                <!--                  [class]="'product-badge status-' + product.inventoryStatus.toLowerCase()">{{product.inventoryStatus}}</span>-->
                            </div>
                        </div>

                    </div>
                </ng-template>

                <ng-template let-school pTemplate="gridItem">
                    <div class="col-12 md:col-4">
                        <div class="card m-3 border-1 surface-border">
                            <div class="flex align-items-center justify-content-between">
                                <div class="flex align-items-center">
                                    <i class="pi pi-tag mr-2"></i>
                                    <span class="font-semibold">{{school.schoolType}}</span>
                                </div>
                                <!--                <span-->
                                <!--                  [class]="'sm:ml-2 product-badge status-' + product.inventoryStatus.toLowerCase()">{{product.inventoryStatus}}</span>-->
                            </div>
                            <div class="text-center">
                                <img [alt]="school.schoolName" [src]="school.imageUrl" class="w-9 shadow-2 my-3 mx-0" height="180" style="object-fit: cover"
                                     width="355"/>

                                <div class="text-2xl font-bold">{{school.schoolName}}</div>
                                <div class="m-3 text-left p-overflow-hidden text-overflow-ellipsis" style="height: 85px">{{school.schoolIntroduction}}</div>
                                <p-rating [cancel]="false" [ngModel]="school.schoolRating" [readonly]="true"></p-rating>
                            </div>
                            <!--按钮在这里-->
                            <div class="flex align-items-center justify-content-between">
                                <span class="text-2xl font-semibold">{{school.participantNumber}}/{{school.schoolMax}}</span>
                                <p-button [disabled]="school.schoolType === '0'" icon="pi pi-plus"></p-button>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-dataView>


            <div class="col-12 lg:col-8">
                <div class="card">
                    <h5>PickList</h5>
                    <p-pickList [responsive]="true" [sourceStyle]="{'height':'250px'}" [source]="sourceCities" [targetStyle]="{'height':'250px'}"
                                [target]="targetCities" sourceHeader="From" targetHeader="To">
                        <ng-template let-city pTemplate="item">
                            <div>{{city.name}}</div>
                        </ng-template>
                    </p-pickList>
                </div>
            </div>

            <div class="col-12 lg:col-4">
                <div class="card">
                    <h5>OrderList</h5>
                    <p-orderList [listStyle]="{'height':'250px'}" [value]="orderCities" header="Cities">
                        <ng-template let-city pTemplate="item">
                            <div>{{city.name}}</div>
                        </ng-template>
                    </p-orderList>
                </div>
            </div>
        </div>
    </div>
</div>
